@import "../../variables.styl"

.form-wrapper
    display inline-flex
    justify-content center
    max-height: 300px;
.form
    display flex
    align-items center
    flex-direction column
    flex-wrap wrap
    border 1px solid $border-grey
    border-radius 15px
    margin 20px

    &_label
        font-weight bold
        line-height 20px
        height 20px
    &_field
        min-width 200px
        line-height 20px

    .field-container
        min-width 300px
        margin 15px
        display flex
        justify-content space-between
        align-items center
    .button-container
        justify-content center